<div class="container border-componnent">
    <h5>ריכוז אנשי קשר</h5>
    <div *ngIf="process">
        <div class="d-flex justify-content-evenly">
            <div>
                <span> מספר אנשי קשר בתהליך:</span> <span>{{process.contactPersons.length}}</span>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <span> פעולות אפשריות:</span>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="addInsured()">הוספת מבוטח</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="removeAllInsuredes()">איפוס
                        מלא</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="partialReset()">איפוס אנשי
                        קשר</button>
                </div>
            </div>
        </div>
    </div>
</div>